{% load staticfiles %}
{% load city_tags %}
{% load travelers_menu %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        {% block ymap %}{% endblock ymap%}
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/my_scripts.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <title>{% block title %}{% endblock title %} - russiantravel - {% block extended_title %}Все достопримечательности России{% endblock extended_title %}</title>
    </head>
    <body>
    <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter41665104 = new Ya.Metrika({
                            id:41665104,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/41665104" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
        <nav class="navbar navbar-default navbar-fixed-top menu" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">RUSSIANTRAVEL</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% block main_menu %}
                        <li {% if request.path == '/' %}class="active" {% endif %}><a href="{% url 'Home' %}">-ВСЕ ГОРОДА-</a></li>
{#                        <li {% if request.path == '/blog/' %}class="active" {% endif %}><a href="{% url 'MainBlog' %}">-ОБЩИЙ БЛОГ-</a></li>#}
{#                        <li {% if request.path == '/travels/' %}class="active" {% endif %}><a href="{% url 'Travels' %}">-ПУТЕШЕСТВИЯ-</a></li>#}
{#                        <li {% if request.path == '/travelers/' %}class="active" {% endif %}><a href="{% url 'Travelers' %}">-ПУТЕШЕСТВЕННИКИ-</a></li>#}
{#                        <li><a href="#">-ПОПУЛЯРНОЕ-</a></li>#}
{#                        <li><a href="#">-СОТРУДНИЧЕСТВО-</a></li>#}
{#                        <li style="margin-left: 125px;"><input type="text" class="form-control" id="search" value="Поиск..."><i class="glyphicon glyphicon-search"></i></li>#}
                        {% endblock main_menu %}
                    </ul>
                </div>
            </div>
        </nav>
        {% comment %}
        <nav class="navbar navbar-default navbar-fixed-top sort">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <div class="budget">
                        <p class="navbar-text">БЮДЖЕТ:</p>
                        <div class="btn-group">
                            <a class="dropdown-toggle my-dropdown-menu" id="main1" data-toggle="dropdown">500-1000 P</a>
                            <span class="caret"></span>
                            <ul class="dropdown-menu" id="menu1">
                                <li><a href="#" id="value1">500-1000 P</a></li>
                                <li><a href="#" id="value2">2</a></li>
                                <li><a href="#" id="value3">3</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="with-who">
                        <p class="navbar-text">C КЕМ:</p>
                        <div class="btn-group">
                            <a class="dropdown-toggle my-dropdown-menu" id="main2" data-toggle="dropdown">С ДРУЗЬЯМИ</a>
                            <span class="caret"></span>
                            <ul class="dropdown-menu" id="menu2">
                                <li><a href="#" id="value1">С ДРУЗЬЯМИ</a></li>
                                <li><a href="#" id="value2">2</a></li>
                                <li><a href="#" id="value3">3</a></li>
                             </ul>
                        </div>
                    </div>
                    <div class="category">
                        <p class="navbar-text">КАТЕГОРИЯ:</p>
                        <div class="btn-group">
                            <a class="dropdown-toggle my-dropdown-menu" id="main3" data-toggle="dropdown">ДОСТОПРИМЕЧАТЕЛЬНОСТИ</a>
                            <span class="caret"></span>
                            <ul class="dropdown-menu" id="menu3">
                                <li><a href="#" id="value1">ДОСТОПРИМЕЧАТЕЛЬНОСТИ</a></li>
                                <li><a href="#" id="value2">2</a></li>
                                <li><a href="#" id="value3">3</a></li>
                             </ul>
                        </div>
                    </div>
                    <button type="button" class="btn btn-info success">OK</button>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-default navbar-fixed-top auth">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>Выбрать город</li>
                        <li class="change-city">
                            <div class="btn-group">
                                <a class="dropdown-toggle my-dropdown-menu" id="main1" data-toggle="dropdown">{% current_city %}</a>
                                <span class="caret"></span>
                                <ul class="dropdown-menu" id="menu4">
                                    {% city_chooser %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right auth-text">
                        {% if request.user.is_authenticated %}<li>Вы вошли как: {{ request.user.get_full_name }}</li>
                        <li><a id="btn2" class="logout-btn" rel="reg_form" href="/logout">Выход</a></li>
                        {% else %}
                                <a class="show_popup" rel="reg_form" href="#" id="btn" onclick="change();">Вход через соц.сети</a>
                                    <div class="popup reg_form">    <a class="close" href="#">Close</a>
                                        <h2>Вход через соц.сети</h2>
                                        <a href="/login/vk-oauth2" title="Зайти через ВКонтакте"><img src="{% static 'images/vk.jpg' %}" ></a>
                                        <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" title="Зайти через Twitter"><img src="{% static 'images/tw.png' %}" ></a>
                                    </div>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        {% endcomment %}
        {% block left_menu %}
        {% cities_menu %}
        {% endblock left_menu %}
        {% block mapCase %}{% endblock mapCase %}
        <div class="content">
        {% block content %}{% endblock content %}
        </div>
    </body>
</html>
