{% extends 'base.html' %}
{% block content %}
    {% for traveler in travelers %}
        <p>Traveler</p>
        <img src="{{ traveler.photo }}">
        <p>Name: {{ traveler.name }}</p>
        <p>Link: {{ traveler.link }}</p>
    {% endfor %}
{% endblock content %}