{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="thumbnail rating">
        Рейтинг:
    </div>
    <div class="container">
        {% for post in travel_posts %}
            <div class="panel panel-info" style="margin-right: 20%">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ post.title }}</h4>
                </div>
                <div class="panel-body">
                    <img src="{{ post.photo }}" width="100" height="100">
                    <div style="margin-left: 15%;  margin-top: -5%">
                        <span class="label label-info">#Путешествия</span>
                        <span class="label label-info">#Пермь</span>
                        <span class="label label-info">#Достопримечательности</span>
                    </div>
                    <p class="post_text">{{ post.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
