{% extends 'base.html' %}
{% block content %}
{% for travel in travels %}
    <p>Название: {{ travel.title }}</p>
    <img src="{{ travel.photo }}" width="150" height="150">
    <p>Город: {{ travel.city }}</p>
    <p>Тэг: {{ travel.tag }}</p>
{% endfor %}
{% endblock content %}