{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load city_tags %}
{% block title %}Карта{% endblock title %}
{% block ymap %}
    <link href="{% static 'mapStyle.css' %}" rel="stylesheet">
    <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript" xmlns="http://www.w3.org/1999/html"></script>
    <script>
        ymaps.ready(init);
        var map;
        function init() {
            map = new ymaps.Map("map", {
                {% block center_and_zoom %}
                center: [58.02265172, 56.22863050],
                zoom: 15,
                {% endblock center_and_zoom %}
                behaviors: ['default','scrollZoom']
            }, {
                searchControlProvider: 'yandex#search'
            });
            map.controls.add('zoomControl');
            var collection = new ymaps.GeoObjectCollection();
            collection
                    {% block add_geo_objects %}
                        {% for sight in sights %}
                            .add(new ymaps.Placemark([{{ sight.coordinates }}], {
                                    balloonContentHeader: '{{ sight.title }}',
                                    balloonContentBody: '{% thumbnail sight.sighphoto_set.first.file "300x200" crop="center" as image %} <img src="{{ image.url }}" width="300" height="200">{% endthumbnail %}'
                                }, {
                                    iconLayout: 'default#image',
                                    iconImageHref: '{% static sight.type_of_sights_set.first.marker|default:"/static/marks/flag-export.png" %}',
                                    iconImageSize: [32, 32]
                                }))
                        {% endfor %}
                    {% endblock add_geo_objects %}
        map.geoObjects.add(collection);
        {% block set_bounds %}
        map.setBounds(collection.getBounds());
        {% endblock set_bounds %}
        }
    </script>
{% endblock ymap %}
{% block mapCase %}
    <div id="map"></div>
{% endblock mapCase %}
{% block content %}
    {% block main_title %}
    {% endblock main_title %}
    {% block floating_block %}
    <div class="nav">
        <h1>{% block floating_block_title %} Russiantravel - все достопримечательности России {% endblock floating_block_title %}</h1>
        <p>{% block floating_block_content %} Найдите интересные места в городах, выбрав их на карте или в списке слева {% endblock floating_block_content %}</p>
    </div>
    {% endblock floating_block %}
{% endblock content %}
