{% extends 'map.html' %}
{% block content %}
{% for sight in travelers %}
    <p>Название: {{ sight.title }}</p>
    <img src="{{ sight.photo }}" width="150" height="150">
    <p>Категории: {{ sight.type }}</p>
    <p>Описание: {{ sight.text }}</p>
    <p>Отзывы: {{ sight.posted }}</p>
{% endfor %}
{% endblock content %}