html, body{
    height: calc(100% - 125px);
    width: calc(100% - 235px);
}

#map {
    width: calc(100% + 235px);
    height: calc(100% + 250px);
    margin-left: 235px;
    margin-top: 60px;
}
#map a {
    color: #492f96;
}