.navbar-default .navbar-brand {
    color: #000000;
}
.navbar-default .navbar-nav > li > a {
    color: #000000;
    margin-right: 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: rgba(38, 207, 109, 0.29);
}
.help-btn {
    position: fixed;
    z-index: 2;
    margin-left: 96%;
    margin-top: 5%;  font-size: 25px;
}
.help-glyph {
    color: #70E59E;
}
.auth{
    font-size: 12px;
    min-height: 0px;
    background-color: rgb(242, 242, 242);
}
.navbar-fixed-top {
    top: 0;
    border-color: transparent;
}
.auth-text{
    margin-top: 2px;
    margin-right: 5px;
}
.auth-text a{
    color: black;
    text-decoration: none;
}
.auth-text a:hover{
    color: #428bca;
    text-decoration: none;
}
.menu{
    background-color: rgb(252, 252, 252);
    padding: 5px;
}
.navbar-brand {
  float: left;
  padding: 15px 65px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  font-weight: 600;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: rgb(109, 176, 187);
  background-color: rgba(255, 255, 255, 0.29);
}
.sort{
    top: 75px;
    background-color: #262B30;
}
.navbar-default .navbar-text {
    color: #848A91;
    font-weight: bold;
    font-size: 12px;
    font-weight: bold;
}
.caret{
    color: white;
    border-top: 7px dashed;
    margin-left: 10px;
}
.my-dropdown-menu{
    color: white;
    border-bottom: 1px dashed white;
    padding-bottom: 3px;
    font-weight: bold;
    margin-right: 5px;
    font-size: 12px;
}
a:active, a:hover{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.btn-group{
    margin-top: 11px;
}
.budget{
    margin-left: 5%;
}
.with-who{
    margin-left: 25%;
    margin-bottom: -31px;
    margin-top: -31px;
}
.row{
    margin-top: 60px;
}
.category{
    margin-left: 45%;
    margin-bottom: -31px;
    margin-top: -31px;
}
.sights-category-block{
    width: 235px;
    height: 100%;
    position: fixed;
    background-color: white;
    overflow: scroll;
}
.sights-category-text{
    margin-top: 30px;
    margin-left: 25px;
}

.sights-category-text a {
    color: #000000;
}
label {
    font-weight: normal;
    float: left;
}
label:hover {
    cursor: pointer;
}
.item{
    clear: both;
}
.shown-on-map {
    font-style: oblique;
}
.region-center {
    font-style: normal;
    font-weight: bold;
}
input[type="checkbox"] {
    margin-right: 15px;
    width: 17px;
    height: 17px;
}
.form-control {
    border: 0px solid #cccccc;
    border-radius: 0px;
    border-bottom: 1px solid black;
    background-color: #FCFCFC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.glyphicon {
  position: relative;
  top: -24px;
  left: -14px;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}
html, body{
    height: calc(100% - 125px);
    width: calc(100% - 235px);
    background-color: #cccccc;
}
.top{
    height: 125px;
}
.success{
    margin-left: 300px;
    margin-top: 8px;
    font-weight: bold;
    border-radius: 0px;
}
.change-city{
    margin-left: 15px;
    margin-top: -10px;
}
.change-city a{
    color: black;
    border-bottom-color: black;
    font-weight: normal;
}
.change-city span {
    color: black;
    margin-left: 3px;
}
.content{
    margin-left: 235px;
    width: calc(100% + 235px);
}
.thumbnail .caption{
    padding: 0px;
}
.thumbnail img{
    width: 250px;
    height: 170px;
}
.thumbnail{
    padding: 0px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    height: 350px;
    margin-left: 15px;
    border-radius: 2px;
    border: 0px solid;
    box-shadow: none;
}
.thumbnail:hover{
    box-shadow: 0px 0px 10px black;
}
.caption > h5{
    text-align: center;
    margin-bottom: 3px;
    height: 30px;
}
.caption > p{
    margin-top: -21px;
    font-size: 13px;
    padding-top: 0px;
    padding-left: 12px;
    padding-right: 12px;
}
.sight-link{
    position: relative;
    top: -35px;
    width: 182px;
    left: 15px;
}
.sight-link > i{
    left: 0px;
    top: 2px;
    color: white;
    border-bottom: 0px;
    font-size: 18px;
}
.sight-link > a{
    position: relative;
    top: -3px;
    left: 3px;
    color: white;
    border-bottom: 0px solid white;
    padding-bottom: 3px;
    text-decoration: none;
}
.sight-link > a:hover{
    border-bottom: 1px solid white;
}
.price{
    background-color: white;
    position: relative;
    top: 324px;
    margin-left: 5px;
    height: 27px;
    font-size: 13px;
}
.price > p {
    padding: 5px;
}
.form-control:focus {
  border-bottom-color: black;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(252, 252, 252, 1), 0 0 8px rgba(252, 252, 252, 1);
  box-shadow: inset 0 1px 1px rgba(252, 252, 252, 1), 0 0 8px rgba(252, 252, 252, 1);
}
.logout-btn {
    display: inline !important;
}
div.nav  {
    display: block;
    position: fixed;
    right:6px;
    top: 10%;
    height:260px;
    width:420px;
    border: 1px solid #333;
    background-image: linear-gradient(rgba(166, 59, 0, 1), rgba(76, 92, 110, 0.1));
    border-radius: 10px;
    color: #fff;
    padding-left: 10px;
}

div.nav h1 {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
}

div.nav p {
    font-weight: bold;
}
