<li ><a href="{% url 'CityMap' selected_city.slug %}">-КАРТА-</a></li>
{#<li ><a href="#">-СОБЫТИЯ-</a></li>#}
<li ><a href="{% url 'CitySights' selected_city.slug %}">-ДОСТОПРИМЕЧАТЕЛЬНОСТИ-</a></li>
{#<li ><a href="{% url 'CityTraces' selected_city.slug %}">-МАРШРУТЫ-</a></li>#}
