<div class="sights-category-block">
    <div class="sights-category-text">
        {% for region in regions %}
        <div class="item"> <a href="{% url 'Region' region.pk %}">{{ region.title }}</a> </div>
            <ul>
            {% for city in region.city_set.posted %}
                <li> <a class="{% if city.regional_center %}region-center{% endif %} {% if city.show_on_mainmap %}shown-on-map{% endif %}" href="{% url 'CityMap' city.slug %}">{{ city.title }}</a> </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>
