<div class="sights-category-block">
    <div class="sights-category-text">
    <div class="item"><label for="all">ВСЕ</label><input type="checkbox" id="all" checked></div>
        {% for section in sections %}
        <div class="item"><label>{{ section.title }}</label><input type="checkbox"></div>
            <ul>
            {% for category in section.types.all %}
                <li> {{ category.title }} </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>
